@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: "Nunito", sans-serif;
	}
	body {
		min-height: 100vh;
	}
	label {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	input {
		width: 100%;
		padding: 5px;
		border: none;
		border-bottom: 1px solid gray;
		outline: none;
	}

	button {
		width: 150px;
		padding: 10px;
		border: none;
		background-color: rgb(76, 49, 196);
		color: white;
		font-weight: bold;
		cursor: pointer;
		margin-top: 10px;
	}
	.dark {
		background-color: #080808f8;
		color: white;
		.chat-grid {
			color: rgb(76, 49, 196);
		}
		.chart-stroke {
			stroke: rgba(128, 128, 128, 0.178);
		}
		.table {
			background-color: #111;
		}
		.table-cell {
			color: gray;
		}
		.icon {
			color: white;
		}
		.navbar {
			border-color: rgba(255, 255, 255, 0.13);
		}
		.search {
			border-color: gray;
		}
		.sidebar {
			background-color: #080808f8;
			border-color: rgba(255, 255, 255, 0.13);
			color: white;
			.logo {
				color: gray;
			}
			.link {
				color: white;
			}
			.link-hover {
				&:hover {
					background-color: #212135;
				}
			}
		}

		hr {
			border-color: rgba(255, 255, 255, 0.13);
		}
		.data-grid {
			color: gray;
			border: none;
			transition: 0.3s ease;
			&:hover {
				color: white;
			}
		}

		.viewButton,
		.deleteButton {
			color: gray;
			border: none;
		}
		input {
			background-color: transparent;
		}
	}
}
